{% load static %}
<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'home.css' %}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
            integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-nav">
    <a class="navbar-brand icon mx-4" href="/" onmouseenter="hovered_home()">
        <svg class="svg-icon" viewBox="0 0 20 20">
            <path class="home_icon" fill="rgb(var(--rose_bonbon));" style="stroke:var(--rose_bonbon);"
                  d="M18.121,9.88l-7.832-7.836c-0.155-0.158-0.428-0.155-0.584,0L1.842,9.913c-0.262,0.263-0.073,0.705,0.292,0.705h2.069v7.042c0,0.227,0.187,0.414,0.414,0.414h3.725c0.228,0,0.414-0.188,0.414-0.414v-3.313h2.483v3.313c0,0.227,0.187,0.414,0.413,0.414h3.726c0.229,0,0.414-0.188,0.414-0.414v-7.042h2.068h0.004C18.331,10.617,18.389,10.146,18.121,9.88 M14.963,17.245h-2.896v-3.313c0-0.229-0.186-0.415-0.414-0.415H8.342c-0.228,0-0.414,0.187-0.414,0.415v3.313H5.032v-6.628h9.931V17.245z M3.133,9.79l6.864-6.868l6.867,6.868H3.133z"></path>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item px-md-1"></a><!--Blank space-->
    {% if authed %}
    <a class="nav-item px-md-3 " href="/showRequests/" onmouseenter="hovered_bell()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(var(--rose_bonbon));"
             style="stroke:var(--rose_bonbon);" class="bi bi-bell" viewBox="0 0 16 16">
            <path class="bell_icon"
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
    </a>
    {% endif %}
    <div class="nav collapse navbar-collapse justify-content-end mt-1" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active ml-2 px-md-3">
                <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item px-md-2">
                <a class="nav-link" href="/about/">About</a>
            </li>
            {% if tutor %}
            <li class="nav-item px-md-2">
                <a class="nav-link" href="/addClass/">Add Classes</a>
            </li>
            {% endif %}
            {% if tutor %}
            <li class="nav-item px-md-2">
                <a class="nav-link" href="/removeClass/">Remove Classes</a>
            </li>
            {% endif %}
            {% if tutor %}
            <li class="nav-item px-md-2">
                <a class="nav-link" href="/editAvail/">Change Availability</a>
            </li>
            {% endif %}
            {% if not tutor %}
            <li class="nav-item px-md-2">
                <a class="nav-link" href="/tutors/">Find Tutors</a>
            </li>
            {% endif %}
            <li class="nav-item px-md-2"></li><!--Blank space-->
            <li class="nav-item px-md-2" onmouseenter="hovered_acc()">
                {% if authed %}
                <div class="dropdown show" style="z-index:3">
                    <button class="btn dropdown-toggle" role="button" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown">
                        <svg class="svg-icon" viewBox="0 0 20 20">
                            <path class="account_icon" stroke-width="0.5mm;" fill="rgb(var(--sky_magenta));"
                                  style="stroke:var(--sky_magenta);" d="M14.023,12.154c1.514-1.192,2.488-3.038,2.488-5.114c0-3.597-2.914-6.512-6.512-6.512
                            c-3.597,0-6.512,2.916-6.512,6.512c0,2.076,0.975,3.922,2.489,5.114c-2.714,1.385-4.625,4.117-4.836,7.318h1.186
                            c0.229-2.998,2.177-5.512,4.86-6.566c0.853,0.41,1.804,0.646,2.813,0.646c1.01,0,1.961-0.236,2.812-0.646
                            c2.684,1.055,4.633,3.568,4.859,6.566h1.188C18.648,16.271,16.736,13.539,14.023,12.154z M10,12.367
                            c-2.943,0-5.328-2.385-5.328-5.327c0-2.943,2.385-5.328,5.328-5.328c2.943,0,5.328,2.385,5.328,5.328
                            C15.328,9.982,12.943,12.367,10,12.367z"></path>
                        </svg>
                        {% else %}
                        <a class="nav-link" href="/login/">
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path class="account_icon" stroke-width="0.5mm;" fill="rgb(var(--rose_bonbon));"
                                      style="stroke:var(--rose_bonbon);" d="M14.023,12.154c1.514-1.192,2.488-3.038,2.488-5.114c0-3.597-2.914-6.512-6.512-6.512
                          c-3.597,0-6.512,2.916-6.512,6.512c0,2.076,0.975,3.922,2.489,5.114c-2.714,1.385-4.625,4.117-4.836,7.318h1.186
                          c0.229-2.998,2.177-5.512,4.86-6.566c0.853,0.41,1.804,0.646,2.813,0.646c1.01,0,1.961-0.236,2.812-0.646
                          c2.684,1.055,4.633,3.568,4.859,6.566h1.188C18.648,16.271,16.736,13.539,14.023,12.154z M10,12.367
                          c-2.943,0-5.328-2.385-5.328-5.327c0-2.943,2.385-5.328,5.328-5.328c2.943,0,5.328,2.385,5.328,5.328
                          C15.328,9.982,12.943,12.367,10,12.367z"></path>
                            </svg>
                        </a>
                        {% endif %}

                    </button>
                    {% if authed %}
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile/">Profile</a>
                        <a class="dropdown-item btn btn-danger" href="/logout">Logout</a>
                    </div>
                </div>
                {% endif %}

            </li>
        </ul>
    </div>
</nav>
<div class="background" id="bground">
    <script src="{% static 'opengl-threejs/js/three.min.js' %}"></script>
    <script src="{% static 'opengl-threejs/js/CopyShader.js' %}"></script>
    <script src="{% static 'opengl-threejs/js/EffectComposer.js' %}"></script>
    <script src="{% static 'opengl-threejs/js/ShaderPass.js' %}"></script>
    <script src="{% static 'opengl-threejs/js/RenderPass.js' %}"></script>
    <script src="{% static 'opengl-threejs/js/ObjLoader.js' %}"></script>
    <script src="{% static 'shader.js' %}"></script>

    <main>
        <div class="h-50">
            <div class="content">
                <h2 class="m_color">Tutoring just got better</h2>
                <h3 class="w_color">Easily signup as a tutor or tutee today.</h3>

            </div>

        </div>

</div>
{% if authed %}

<div class="h-100 w-100 d-flex justify-content-center" style="min-height:700px;">
    <span class="createAnAcc"><button class="btn" onclick="window.location.href='/profile';">Profile</button></span>
</div>
{% else %}
<div class="h-100 w-100 d-flex justify-content-center" style="min-height:700px;">
    <span class="createAnAcc"><button class="btn"
                                      onclick="window.location.href='/login';">Sign Up / Login</button></span>
</div>

{% endif %}




<section class="p-relative py-5" style="margin-top: 10vh; background-color: #172A3A">

    <div class="container py-5 h-100">
        <div class="row px-3">
            <h1>Hear from our Happy Customers...</h1>
        </div>
        <div class="row px-3">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <blockquote class="bg-outside">
                    <h4 class="h4 fw-bolder">Brought my grade back to life.</h4>
                    <p>
                        My tutor, Elaine, saved my academic career. When I first came to this company
                        I had a C- in Spanish. After 2 weeks working with Elaine I had already brought
                        my grade up to a B+!
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <blockquote class="bg-inside">
                    <h3 class="h3 fw-bolder">Best Group of Tutors</h3>
                    <p>
                        Every single tutor I have worked with is properly vetted, qualified, accommodating
                        and caring. They have one of the best group of young adults Ive seen in a company in
                        a while.
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-4">
                <blockquote class="bg-outside">
                    <h4 class="h4 fw-bolder">Boosted my GPA 3 points!</h4>
                    <p>
                        Before I found this website, I was worried for my future. I needed a 3.9
                        to get into med school and I had a 3.6. After 1 year I had boosted my GPA 3 points
                        putting me back where I needed to be!
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    <blockquote class="bg-purp primary">
        <h4>A Letter from US:</h4>
        <p>
            <em>"We are proud to be named one of the most prestigious tutoring companies on University of Virginia
                grounds.
                We are beyond grateful for the support we have recieved from our community and fellow classmates
                We provide tutors for almost all of the courses at UVA, with a speciality in Engineering classes.
                We are so happy to be able to provide out services to you. Thank you for helping us do
                what we love. Stay learning."</em>
        </p>
        <figcaption>
            - HoosTutoring Team
        </figcaption>

    </blockquote>
</section>

</main>
<!-- Footer -->
<footer class="text-center text-white" style="background-color: #172A3A">
    <section class="mb-1">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <p class="text-white">
                    Hoostutoring is proudly owned and operated by five random students who all took Advanced
                    Software Development during Fall Semester 2023 and were randomly forced to work together.
                </p>
            </div>
        </div>
    </section>
    <div class="text-center">
        © 2023 Copyright: Group A-07
    </div>
</footer>

</body>

<script src="{% static 'navbar.js'%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
        integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>